.container h4 {
  color: #6f42c1; /* un bel viola che richiama i colori pride */
}

.list-group-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 10px;
}

.list-group-item:hover {
  background-color: #e2e6ea;
}

.lgbtq-parenting-page {
  a {
    color: #ce3b8b;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    color: #6c2ca3;
  }
}

