.navbar-custom {
  background-color: #fea43f !important;
}
.navbar-custom .navbar-brand {
  font-weight: bold;
  color: #FFF;
  font-size: 38px;
}
.navbar-custom .nav-link {
  color: #FFF;
  font-size: 22px;
}
.navbar-custom .nav-link:hover {
  color: #446c9e;
  text-decoration: underline;
}