.navbar-custom {
    background-color: #fea43f !important; // esempio di rosa tenue
  
    .navbar-brand {
      font-weight: bold;
      color: #FFF;
      font-size: 38px;
    }
  
    .nav-link {
      color: #FFF;
      font-size: 22px;
  
      &:hover {
        color: #446c9e;
        text-decoration: none;
      }
    }
  }
  